{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    Liste des stages
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Titre</th>
        <th scope="col">Activité</th>
        <th scope="col">Adresse mail</th>
        <th scope="col">Formations</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {# {% for stage in listeStage %}
            <tr>
            <th scope="row">{{stage.id}}</th>
            <td>{{stage.titre}}</td>
            <td>{{stage.nom}}</td>
            <td>{{stage.detail}}</td>
            <td>{{stage.email}}</td>
            <td>{{stage.entreprise}}</td>
            <td>{{stage.formations}}</td>
            <td> <a class="nav-link" href="/stages/1">Consulter</a></td>
            </tr>
        {% endfor %} #}
    </tbody>
    </table>
</div>
{% endblock %}
